/* Typography */

body {
    font-family: 'Quicksand';
    font-size: 14px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
}

h2 {
    font-size: 19px;
    font-weight: 400;
}

h3 {
    font-size: 19px;
    font-weight: 400;
}

h4 {
    font-size: 17px;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    font-size: 14px;
}

.label { text-align: right; }

@media only screen and ( max-device-width: 640px ) and ( orientation: portrait ),
            screen and ( max-width: 640px ){
    h1 { font-size: 20px; }
    h2 { font-size: 17px; }
    h3 { font-size: 17px; }
    h4 { font-size: 15px; }
    body { font-size: 12px; }
    nav a { font-size: 12px; }
}

/* Layout */

body { margin: 15px; }

h1 { margin-bottom: 2px; }

h2 { margin-top: 2px; }

h3 { margin-top: 40px; }

h4 { padding-top: 10px; }

p, li { line-height: 140%; }

p { padding-left: 2px; }

li { padding-bottom: 3px; }

ul { padding-left: 19px; }

.label { padding-right: 5px; }

#contact-details {
    float: right;
    position: relative;
    top: -70px;
    right: 10px;
}

#wrap {
    width: 900px;
    margin: auto;
    padding: 0px;
}

section {
    width: 100%;
    padding: 25px 35px 25px 35px;
    margin: 14px 0;
}

nav {
    float: right;
    position: relative;
    top: -15px;
    right: -25px;
}

@media only screen and ( max-device-width: 640px ) and ( orientation: portrait ),
            screen and ( max-width: 640px ){
    body { margin: 0px; }

    section {
        width: auto;
        padding: 5px 15px 15px 15px;
    }

    nav {
        top: 3px;
        right: -7px;
    }

    h3 { margin-top: 25px; }

    h4 { padding-top: 0px; }

    #contact-details {
        display: none;
    }

    #wrap {
        width: 100%;
        margin: 0px;
    }
}

@media only screen and ( min-width: 641px ) and ( max-width: 900px ) {
    section {
        width: auto;
    }

    #wrap {
        width: auto;
    }
}


/* Colour */

body {
    background-color: #7CC77C;
}

h1 {
  margin-top: 10px;
  color: #5a843b;
}

#more h1 { color: #E68A2E; }

#contact h1 { color: #A30052 }

h2 { color: #999; }

h3 { color: #82a449; }

#more h3 { color: #FFA347 }

#contact h3 { color: #B53375 }

h4 { color: #999; }

a { color: #000; }

.label { color: #6E8B3D; }

section {
    background-color: #FFF;
    box-shadow: 0px 5px 7px -3px #658065;
}

#cv {
    background-position: right top;
    background-repeat: no-repeat;
}
